@font-face {
  font-family: 'KakaoRegular';
  font-style: normal;
  font-weight: 100;
  src: url('./AnyConv.com__KakaoRegular.woff') format('woff');
}

@font-face {
  font-family: 'KakaoOTFRegular';
  font-style: normal;
  font-weight: normal;
  src: url('./AnyConv.com__KakaoOTFRegular.woff') format('woff');
}
